<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p style="text-align: center;">
        Ten Games is a small studio that has been creating games since 2018. We are focusing on making beloved casual, puzzle, and classical games with new styles of design and innovative gameplay.
      </p>
    </div>
    </div>
  </div>
</section>
